@model IEnumerable<WebApplication1.Models.Booking>

@{
    ViewData["Title"] = "Booking List";
    <link href="~/DataTables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<br />
<h1>Booking List</h1>

<div>
    <button value="Redirect" onclick="window.location='@Url.Action("New", "Bookings")'" class="btn btn-primary">Create New Booking</button>
</div>
<br />

<table class="table table-striped table-bordered mydatatable" style="width: 100%">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaffName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Building.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSlot.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeSlot.EndTime)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StaffName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Building.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Room.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSlot.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeSlot.EndTime)
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/popper.min.js" integrity="sha256-O17BxFKtTt1tzzlkcYwgONw4K59H+r1iI8mSQXvSf5k=" crossorigin="anonymous"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/DataTables/DataTables-1.10.20/js/jquery.dataTables.min.js"></script>
<script src="~/DataTables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js"></script>

<script>
    $('.mydatatable').DataTable();
</script>