@model WebApplication1.Models.Booking
@{
    ViewData["Title"] = "New Booking";
}

<br />
<h1>Create New Booking</h1>
<br />

@using (Html.BeginForm("Create", "Bookings")) //in the future, change the action to Create
{
<div class="col-md-5">
    <div class="form-group">
        @Html.LabelFor(m => m.BuildingId)
        @Html.DropDownListFor(m => m.BuildingId, ViewBag.BuildingList as SelectList, "Select Building", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.RoomId)
        @Html.DropDownListFor(m => m.RoomId, new SelectList(""), "Select Room", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.BookDate)
        @Html.EditorFor(m => m.BookDate, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TimeSlotId)
        @Html.EditorFor(m => m.TimeSlotId, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.StaffName)
        @Html.EditorFor(m => m.StaffName, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    @*Include faculty text box as well?*@

    <div class="form-group">
        @Html.LabelFor(m => m.ModuleCode)
        @Html.EditorFor(m => m.ModuleCode, new { htmlAttributes = new { @class = "form-control" } })
    </div>

    <button type="submit" class="btn btn-primary">Next</button>
</div>
}

<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ui-1.12.1.custom/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script>
        @*Datepicker*@
        @*$(document).ready(function () {
            $("#BookDate").datepicker().datepicker("setDate", new Date());
        })*@

        @*Cascading drop down list*@
        $(document).ready(function () {
            $("#BuildingId").change(function () {
                var roomId = $(this).val();
                debugger
                $.ajax({
                    type: "post",
                    url: "/Bookings/GetRoomList?BuildingId=" + roomId,
                    contentType: "html",
                    success: function (response) {
                        debugger
                        $("#RoomId").empty();
                        $("#RoomId").append(response);
                    }
                })
            })
        })

        $(document).ready(function () {
            $("#RoomId").change(function () {
                @* Alert message displaying the selected values in browser *@
                var displayRoomName = document.getElementById("RoomId");
                alert("The selected room Id is: " + displayRoomName.options[displayRoomName.selectedIndex].value + " and the room name is: " + displayRoomName.options[displayRoomName.selectedIndex].text);
                
                @*Send RoomId selected value to controller as a parameter*@
                @*$(this).closest("form").submit();*@
            })
        })
    </script>
}