@model WebApplication1.ViewModels.BookingsViewModel

@{
    ViewData["Title"] = "TestTimeSlot";
}

<h1>TestTimeSlot</h1>

@using (Html.BeginForm("TestTimeSlot", "Bookings")) //in the future, change the action to Create
{
    <div class="col-md-6">
        <table class="table table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.TimeSlot.StartTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TimeSlot.EndTime)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var slot in Model.TimeSlotList)
                {
                    if (slot.IsBooked == true)
                    {
                        <tr bgcolor="ECECEC" class="text-muted"> @* gray out row background and text *@
                            <td>
                                @Html.CheckBoxFor(modelItem => slot.IsSelected, new { @disabled = "" })
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => slot.StartTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => slot.EndTime)
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(modelItem => slot.Id) @* to store selected time slot's Id? *@
                                @Html.CheckBoxFor(modelItem => slot.IsSelected)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => slot.StartTime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => slot.EndTime)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <h5>
            Room Id:
            @Html.DisplayFor(model => model.RoomId) <br />
            Book date:
            @Html.DisplayFor(model => model.BookDate) <br />
        </h5>

        @* Here put text that shows the selected timeslots *@

        <div>
            <button onclick="goBack()" class="btn btn-secondary">Back</button>
            <button type="submit" class="btn btn-success">Confirm</button>
        </div>
    </div>
}
<br />

<script src="~/lib/jquery/dist/jquery.min.js"></script>

@section scripts
{
    <script>
    function goBack() {
        window.history.back();
    }

    @* Click on row ro select checkbox *@
    $(document).ready(function() {
        $('.table tr').click(function(event) {
        if (event.target.type !== 'checkbox') {
            $(':checkbox', this).trigger('click');
        }
        });
    });
    </script>
}


