@model IEnumerable<WebApplication1.Models.TimeSlot>

@{
    ViewData["Title"] = "Time Slot";
}

<br>
<h1>Select Time Slot</h1>
<br />

@*Here write the selected room and date for staffName and module*@

<div class="col-md-5">
    <table class="table table-bordered table-hover table-md">
        <thead class="table-dark">
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.StartTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndTime)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @* Here write if timeslot is unavailable, disable checkbox *@
                if (ViewData["IsBooked"].ToString() == "false")
                {
                    <tr>
                        <td>
                            <input type="checkbox">
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndTime)
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            <input type="checkbox" disabled="">
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartTime)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndTime)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <button onclick="goBack()" class="btn btn-secondary">Back</button>
    <button type="submit" class="btn btn-success">Confirm</button>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>